= simple_form_for(@author) do |f|

  .field
    = f.input :name

  .field
    = f.input :email, as: :email

  .row
    = f.button :submit, class: 'ui button positive'
    = link_to 'Back', authors_path, class: 'ui button'
