= simple_form_for(@page) do |f|

  .two.fields
    .field
      = f.input :title
    .field
      = f.association :author, collection: Author.all, input_html: { class: 'ui fluid dropdown' }

  .field
    = f.input :description, as: :text, input_html: { rows: 1 }

  .field
    label.text.required = ta(Page, :body)
    = f.input :body, as: :hidden

    pre#editor(style="height: 600px")

  .row
    = f.button :submit, class: 'ui button positive'
    = link_to 'Back', pages_path, class: 'ui button'


= javascript_include_tag 'ace/emmet'
= javascript_include_tag 'ace/ace'
= javascript_include_tag 'ace/ext-language_tools'
= javascript_include_tag 'ace/ext-emmet'
= javascript_include_tag 'ace/mode-html'
= javascript_include_tag 'ace/snippets/html'
= javascript_include_tag 'ace/worker-html'
= javascript_include_tag 'ace/theme-textmate'

javascript:
  ace.require("ace/ext/language_tools");
  var editor = ace.edit("editor");
  editor.session.setMode("ace/mode/html");
  editor.setTheme("ace/theme/textmate");

  editor.setOptions({
    enableBasicAutocompletion: true,
    enableLiveAutocompletion: true,
    enableSnippets: true,
    enableEmmet: true
  });

  editor.getSession().on('change', function (e) {
    $('#page_body').val(editor.getValue());
  });

  $(document).ready(function(){
    editor.setValue($('#page_body').val());
  });

