h1.ui.center.aligned.header = tmp(Page)

.ui.two.column.stackable.grid.container
  .one.column.row.center
    .column
      table.ui.very.basic.table
        thead
          tr.center.aligned
            th = ta Page, :title
            th = ta Page, :slug
            th = ta Page, :author
            th = ta Page, :created_at
            th = ta Page, :updated_at
            th

        tbody
          - @pages.each do |page|
            tr.center.aligned
              td = page.title
              td = page.slug
              td = page.author.name
              td(style="width: 13%") = l page.created_at, format: :short
              td(style="width: 13%") = l page.updated_at, format: :short
              td(style="width: 20%")
                = link_to 'view', page, class: 'ui button black tiny'
                = link_to 'Edit', edit_page_path(page), class: 'ui button tiny'
                = link_to 'Destroy', page, data: { confirm: 'Are you sure?' }, method: :delete, class: 'ui button negative tiny'
        tfoot
          tr.right.aligned
            th(colspan="6")
              = paginate(@pages)

      = link_to  t('views.crud.f_new_link', name: tm(Page)), new_page_path, class: 'ui button positive'
