/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require semantic
 *= require_self
 */

.last.container {
    margin-bottom: 300px !important;
}
h1.ui.center.header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
h2.ui.center.header {
    margin: 4em 0em 2em;
}
h3.ui.center.header {
    margin-top: 2em;
    padding: 2em 0em;
}
body{
    z-index: 0;
}

.message.closable {
    float: right;
    top: 5%;
    right: 7%;
    display: block;
    position: fixed;
    z-index: 1001;
}
.close.icon{
    margin-left: 5px;
}
