h1.ui.center.aligned.header = tmp(Author)

.ui.two.column.stackable.grid.container
  .one.column.row.center
    .column
      table.ui.very.basic.table
        thead
          tr.center.aligned
            th = ta Author, :name
            th = ta Author, :email
            th

        tbody
          - @authors.each do |author|
            tr.center.aligned
              td = author.name
              td = author.email
              td(style="width: 20%")
                = link_to t('views.crud.edit_link'), edit_author_path(author), class: 'ui button tiny'
                = link_to t('views.crud.delete_link'), author, data: { confirm: t('views.crud.dialogs.confirm') }, method: :delete, class: 'ui button negative tiny'
        tfoot
          tr.right.aligned
            th(colspan="3")
              = paginate(@authors)

      = link_to t('views.crud.new_link', name: tm(Author)), new_author_path, class: 'ui button positive'
