= simple_form_for(@author) do |f|

  .field
    = f.input :name

  .field
    = f.input :email, as: :email

  .row
    = f.submit t('views.crud.save', model: tm(Author)), class: 'ui button positive'
    = link_to t('views.crud.cancel'), authors_path, class: 'ui button'
