doctype html
html
  head
    title
      = t('views.project.name')

    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"]

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  body
    = render 'menu'
    = yield
    = notices 6000
