<div class="form-group" ng-class="{'has-error' : submitted && pageForm.title.$invalid}">
    <label class="control-label col-md-3">Título <span class="required">* </span> </label>
    <div class="col-md-4">
      <input type="text" name="title" class="form-control" ng-model="page.title" required placeholder="Título"/>
    </div>
    <p ng-show=" submitted && pageForm.title.$invalid" class="help-block">First name é obrigatório.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && pageForm.author_id.$invalid}">
    <label class="control-label col-md-3">Autor <span class="required">* </span> </label>
    <div class="col-md-4">
        <select ng-model="page.author_id" ng-options="author.id as author.name for author in authors">
          <option value="">Select Account</option>
      </select>
    </div>
    <p ng-show=" submitted && pageForm.author_id.$invalid" class="help-block">O Autor é obrigatório.</p>
</div>
<div class="form-group" ng-class="{'has-error' : submitted && pageForm.last_name.$invalid}">
    <label class="control-label col-md-3">Last name <span class="required">* </span> </label>
    <div class="col-md-4">
        <input type="text" name="last_name" class="form-control" ng-model="page.last_name" required placeholder="last name"/>
    </div>
    <p ng-show=" submitted && pageForm.last_name.$invalid" class="help-block">Last name é obrigatório.</p>
</div>
<div class="form-group">
    <label class="control-label col-md-3">Phone </label>
    <div class="col-md-4">
        <input type="text" name="phone" class="form-control" ng-model="page.phone" placeholder="9876543210"/>
    </div>
    <p ng-show="submitted && pageForm.phone.$invalid" class="help-block">Phone é obrigatório.</p>
</div>

<div class="form-group">
    <div class="pull-left">
        <a class="btn btn-default" href="/"> Back</a>
        <button type="submit" class="btn btn-primary" ng-click="submitted=true">Submit</button>
    </div>
</div>
