<br/>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="#/pages/new">Crie uma Página</a>
        <h3 class="block">Páginas</h3>
        <table class="table table-striped">
            <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Criada em</th>
                <th>Alterada em</th>
                <th></th>
            </tr>
            <tr ng-hide="pages.length" >
                <td colspan="5">Nenhuma página foi encontrada.</td>
            </tr>
            <tr ng-show="pages.length" ng-repeat="page in pages">
                <td>{{page.title}}</td>
                <td>{{page.description}}</td>
                <td>{{page.created_at}}</td>
                <td>{{page.updated_at}}</td>
                <td>
                    <a href="#/pages/{{page.id}}/edit">Editar</a> | <a href="" ng-click="deletePage(page.id)">Deletar</a>
                </td>
            </tr>
        </table>
    </div>
</div>
