<div class="col-md-10">
    <form class="tab-pane active form-horizontal" id="first" name="pageForm" novalidate ng-submit="save()">
        <h3 class="block">Nova Página</h3>
        <div ng-include src="'/templates/pages/_form.html'"></div>
    </form>
</div>